<!DOCTYPE html>
<html ng-app="NMRSolventCalculatorModule" id="ng-app">
<head>
	<title>nmr massa percentage calculator</title>
	<meta http-equiv="X-UA-Compatible" content="edge" />

	<link href="Content/lib/bootstrap.min.css" rel="stylesheet" />

	<link href="Content/solvents.css" rel="stylesheet" />
	<link href="Content/validation.css" rel="stylesheet" />

	<!--[if lte IE 8]>
        <script type="text/javascript" src="Scripts/lib/json2.js">
    </script><![endif]-->
	<script src="Scripts/lib/angular.min.js"></script>

	<script src="Scripts/Solvents.js"></script>
	<script src="Scripts/controllers.js"></script>

</head>
<body ng-controller="NMRSolventCalculatorControl">
	<br />
	<div class="span8">
		<h4><a href="https://github.com/Dennis-Smurf/NMRSolventCalculatorAng">NMR solvent residue calculator</a></h4>
		<br />

		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>(im)purity</th>
					<th>mass</th>
					<th># of H</th>
					<th>integral</th>
					<th>mol%</th>
					<th>wt%</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="solvent in solvents">
					<td>
						<div ng-switch on="$first">
							<span ng-switch-when="true">{{solvent.name}}
							</span>
							<div ng-switch-default class="dropdown btn-group">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									<span>{{solvent.name}}</span>
									<span class="caret"></span>
								</a>&nbsp;
								<i ng-class="getSolventClass(solvent.name)"></i>
								<div class="dropdown-menu span8 ">
									<div class="row">
										<div class="span5">
											<form class="control-group">

												<div class="span1">
													<label>position</label>
													<input class="span1" type="text" placeholder="ppm" ng-model="rangeFilter.ppm" />
												</div>
												<div class="span1">
													<label>delta</label>
													<input class="span1" type="text" placeholder="delta" ng-model="rangeFilter.delta" />
												</div>
												<div class="span1">
													<label>solvent</label>
													<select ng-model="rangeFilter.deuteratedSolvent" style="width: 110px;" ng-options="d.solvent for d in rangeFilter.deuteratedSolvents"></select>
												</div>
												<div class="span1">
													<label>{{rangeFilter.deuteratedSolvent.residualPeak | number:2}} ppm</label>
												</div>
											</form>
										</div>
									</div>
									<div class="row">


										<div class="span4" ng-repeat="availableSolvent in availableSolvents" ng-click="setSolvent(solvent, availableSolvent)" style="cursor: hand; cursor: pointer;">
											<div class="span1">
												<a href="#">
													<i ng-class="getSolventClass(availableSolvent.name)"></i>
												</a>
											</div>
											<div class="span1">
												<a href="#">
													<span ng-class="{inRange: availableSolvent.inRange}">{{availableSolvent.name}}</span>

												</a>
											</div>
											<small class="span1">
												<div ng-repeat="hData in availableSolvent.HData">
													{{hData.values[rangeFilter.deuteratedSolvent.id]}} <span ng-bind-html-unsafe="hData.multiplet"></span><sup ng-repeat="comment in hData.comments">{{comment}}</sup>
												</div>
											</small>
										</div>

									</div>
						<br />
									<div class="row">
										<small class="span7" style="white-space: normal">
											<ul style="list-style-type: lower-latin">
												<li>In these solvents the intermolecular rate of exchange is slow enough that a peak due to HDO is usually also observed; it appears at 2.81 and 3.30 ppm in acetone and DMSO, respectively. In the former solvent, it is often seen as a 1:1:1 triplet, with <sup>2</sup>J<sub>H,D</sub> = 1 Hz.
												</li>
												<li>2,6-Dimethyl-4-<i>tert</i>-butylphenol. </li>
												<li>The signals from exchangeable protons were not always identified. </li>
												<li>In some cases (see note a), the coupling interaction between the CH<sub>2</sub> and the OH protons may be observed (J = 5 Hz). </li>
												<li>In CD<sub>3</sub>CN, the OH proton was seen as a multiplet at 2.69 ppm, and extra coupling was also apparent on the methylene peak. </li>
												<li>Long-chain, linear aliphatic hydrocarbons. Their solubility in DMSO was too low to give visible peaks. </li>
												<li>Hexamethylphosphoramide. </li>
												<li>In some cases (see notes a, d), the coupling interaction between the CH<sub>3</sub> and the OH protons may be observed (J = 5.5 Hz). </li>
												<li>Poly(dimethylsiloxane). Its solubility in DMSO was too low to give visiblepeaks.</li>
												<li>Values taken from <i>n</i>-hexane</li>
											</ul>

											<br />
											<br />
										</small>
									</div>

								</div>
							</div>
						</div>
					</td>
					<td>
						<input type="text" class="input-mini" placeholder="Mass" ng-model="solvent.mass" />
					</td>
					<td>
						<input type="text" placeholder="nrH" class="input-mini" ng-model="solvent.nrH" />
					</td>
					<td>
						<input type="text" placeholder="integral" class="input-mini" ng-model="solvent.integral" />
					</td>
					<td>
						<div>
							<span ng-show="!hasErrors">{{solvent.molPercentage | number:2}}%</span>
						</div>
					</td>
					<td>
						<div>
							<span ng-show="!hasErrors">{{solvent.weightPercentage | number:2}}%</span>
						</div>
					</td>
					<td>
						<i class="icon-remove" type="button" ng-show="!$first" ng-click="removeSolvent($index)"></i>
					</td>
					<td>
						<code ng-show="solvent.hasErrors">Please enter a number</code>
						<code ng-show="solvent.nrHError">nrH should not be 0</code>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="btn" ng-click="addSolvent()">Add im(purity)</button>
	</div>

	<script src="Scripts/lib/jquery-1.9.1.min.js"></script>
	<script src="Scripts/lib/bootstrap.min.js"></script>

	<script>
		$(function () {
			$('.dropdown-menu').find('form').click(function (e) {

				e.stopPropagation();
			});
		});
	</script>
</body>
</html>
