

[class^="solvent-"],
[class*=" solvent-"] {
    display: inline-block;
    width: 60px;
    height: 50px;
    margin-top: 1px;
    margin-right: 2px;

    vertical-align: middle;
    background-image: url("images/solvents.gif");
    background-repeat: no-repeat;
     background-position: -50px 0px;
}


.solvent-MeOH {
    background-position: -7px 0px;

}

.solvent-EtOH {
    background-position: -90px 0px;
}

.solvent-iPrOH {
    background-position: -166px 0px;
}

.solvent-tBuOH {
    background-position: -246px 0px;
}

.solvent-impurity {
    background-position: 50px 0px;
}

.solvent-MeCN {
    background-position: -326px 0px;
}

.solvent-DCM {
    background-position: -402px 0px;
}

.solvent-EtOAc {
    background-position: -488px 0px;
}

.solvent-EtOAc {
    background-position: -488px 0px;
}

.solvent-TBME {
    background-position: -568px 0px;
}

.solvent-Acetone {
    background-position: -632px 0px;
}

.solvent-Et2O {
    background-position: 0px -72px;
}

.solvent-DIP {
    background-position: -90px -72px;
}

.solvent-THF {
    background-position: -166px -72px;
}

.solvent-dioxane {
    background-position: -246px -72px;
}

.solvent-formic_acid {
    background-position: -326px -72px;
}

.solvent-AcOH {
    background-position: -402px -72px;
}

.solvent-DMF {
    background-position: -488px -72px;
}

.solvent-DMAc {
    background-position: -576px -72px;
}

.solvent-NH4Cl {
    background-position: -644px -72px;
}

.solvent-heptane {
    background-position: -7px -148px;
      width: 94px;
}

.solvent-pentane {
    background-position: -110px -148px;
      width: 66px;
}

.solvent-toluene {
    background-position: -198px -148px;
      
}

.solvent-Et3N {
    background-position: -268px -148px;
      
}

.solvent-DIPEA {
    background-position: -336px -148px;
      
}

.solvent-pyridine {
    background-position: -434px -148px;
      
}

.solvent-BHT {
    background-position: -508px -130px;
      width:78px;
      height:86px;
}

.solvent-NMP {
    background-position: -602px -148px;
      
}